<<<<<<< HEAD
@font-face {
            font-family: 'tst';
            src: url('fontes/idroid.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #E7E5C1;
            margin: 0px 0px 0px 0px;
        }

        header {
            padding: 40px 4% 2% 4%;
            background-image: linear-gradient(to bottom, #238D4C, #023E1B);
        }

        header > h1 {
            margin-top: 10px;
            text-align: center;
            color: white;
        }
        header > p {
            text-align: center;
            color: white;
        }

        nav {
            padding: 11px;
            background-color: #013D1D;
        
        }
        nav > a {
            
            padding: 10px;
            padding-right: 15px;
            margin: 0px 0px 0px 0px;
            color: white;
            text-decoration: none;
            transition-duration: 0.4s;
        }

        nav > a:hover {
            background-color: #2E975F;

        }

        main {
            min-width: 320px;
            max-width: 800px;
            height: auto;
            background-color: white;
            text-align: justify;
            padding: 20px 20px 2px 20px;
            margin: auto;
            margin-bottom: 40px;
            box-shadow: 2px 0px 5px #3b3a3a7c;
        }

        main > h1 {
            font-family: 'tst', times, serif;
            color: #375B47;
            margin: 0px 0px 0px 0px;
        }

        main > p {
            line-height: 30px;
        }

        main > #importante {
            font-family: 'tst', times, serif;
            color: #244232;
            padding-left: 15px;
            background-image: linear-gradient(to right, #84E1A9, white);
        }

        span {
            color: #043D1C;
        }

        #links {
            background-color: #7EDBA9;
            padding: 3px;
            color: #244232;
            text-decoration: none;
        }

        div.fotos {
            text-align: center;
        }

        div.video {
            background-color: #043D1C;
            margin: 0px -20px 20px -20px;
            padding: 20px;
            padding-bottom: 59%;
            position: relative;
        }

        div.video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }

        #lista {
            background-color: #7FE1A9;
            border-radius: 10px;
            padding: 10px;
        }

        #lista > h2 {
            background-color: #185C33;
            color: white;
            padding: 10px;
            margin: -10px -10px -10px;
            margin-bottom: 8px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #lista > p {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 30px;
        }
        
        ol {
            padding-left: 0px;
            columns: 2;
        }

        ol > p {
            margin-bottom: 5px;
            margin-top: 0px;
        }

        #fim {
            background-color: #032A13;
            padding: 3px;
        }

        #fim > p {
            color: rgba(255, 255, 255, 0.521);
            text-align: center;
            margin: 5px;
        }

        #rodape {
            color: white;
        }

        a {
            color: #244232;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
=======
@font-face {
            font-family: 'tst';
            src: url('fontes/idroid.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #E7E5C1;
            margin: 0px 0px 0px 0px;
        }

        header {
            padding: 40px 4% 2% 4%;
            background-image: linear-gradient(to bottom, #238D4C, #023E1B);
        }

        header > h1 {
            margin-top: 10px;
            text-align: center;
            color: white;
        }
        header > p {
            text-align: center;
            color: white;
        }

        nav {
            padding: 11px;
            background-color: #013D1D;
        
        }
        nav > a {
            
            padding: 10px;
            padding-right: 15px;
            margin: 0px 0px 0px 0px;
            color: white;
            text-decoration: none;
            transition-duration: 0.4s;
        }

        nav > a:hover {
            background-color: #2E975F;

        }

        main {
            min-width: 320px;
            max-width: 800px;
            height: auto;
            background-color: white;
            text-align: justify;
            padding: 20px 20px 2px 20px;
            margin: auto;
            margin-bottom: 40px;
            box-shadow: 2px 0px 5px #3b3a3a7c;
        }

        main > h1 {
            font-family: 'tst', times, serif;
            color: #375B47;
            margin: 0px 0px 0px 0px;
        }

        main > p {
            line-height: 30px;
        }

        main > #importante {
            font-family: 'tst', times, serif;
            color: #244232;
            padding-left: 15px;
            background-image: linear-gradient(to right, #84E1A9, white);
        }

        span {
            color: #043D1C;
        }

        #links {
            background-color: #7EDBA9;
            padding: 3px;
            color: #244232;
            text-decoration: none;
        }

        div.fotos {
            text-align: center;
        }

        div.video {
            background-color: #043D1C;
            margin: 0px -20px 20px -20px;
            padding: 20px;
            padding-bottom: 59%;
            position: relative;
        }

        div.video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }

        #lista {
            background-color: #7FE1A9;
            border-radius: 10px;
            padding: 10px;
        }

        #lista > h2 {
            background-color: #185C33;
            color: white;
            padding: 10px;
            margin: -10px -10px -10px;
            margin-bottom: 8px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #lista > p {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 30px;
        }
        
        ol {
            padding-left: 0px;
            columns: 2;
        }

        ol > p {
            margin-bottom: 5px;
            margin-top: 0px;
        }

        #fim {
            background-color: #032A13;
            padding: 3px;
        }

        #fim > p {
            color: rgba(255, 255, 255, 0.521);
            text-align: center;
            margin: 5px;
        }

        #rodape {
            color: white;
        }

        a {
            color: #244232;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
>>>>>>> d081cea2bc29d54a6daac1d885aab5bfecd2c862
        }